<div class="viewer-container viewer-backdrop viewer-fixed viewer-fade viewer-transition viewer-in" tabindex="-1"
  touch-action="none" id="viewer0" role="dialog" aria-labelledby="viewerTitle0" aria-modal="true"
  style="z-index: 2015;">

  <!-- viewer -->
  <div class="viewer-canvas" data-viewer-action="hide"><img [src]="arq_atual.Source" alt="arq_atual.SourceName"
      class="viewer-move viewer-transition"
      style="height: 746.1px; margin-left: 374.659px; margin-top: 41.45px; position: absolute; width: 419.681px; max-width: none !important; transform: none;">
  </div>


  <!-- footer -->
  <div class="viewer-footer">
    <div class="viewer-title" id="viewerTitle0">{{arq_atual.SourceName}}</div>

    <!-- button list -->
    <div class="viewer-toolbar">
      <ul>

        <li *ngFor="let btn of lstBtn" tabindex="0" [id]="btn.HTML_id" role="button" [class]="btn.ButtonClass" [style]="btn.ButtonStyle" (click)="btn.OnClick" data-viewer-action=""></li>

        <!-- 
        <li tabindex="0" role="button" class="viewer-zoom-in" data-viewer-action="zoom-in"></li>
        <li tabindex="0" role="button" class="viewer-zoom-out" data-viewer-action="zoom-out"></li>
        <li tabindex="0" role="button" class="viewer-one-to-one" data-viewer-action="one-to-one"></li>
        <li tabindex="0" role="button" class="viewer-reset" data-viewer-action="reset"></li>
        <li tabindex="0" role="button" class="viewer-prev" data-viewer-action="prev"></li>
        <li tabindex="0" role="button" class="viewer-play viewer-large" data-viewer-action="play"></li>
        <li tabindex="0" role="button" class="viewer-next" data-viewer-action="next"></li>
        <li tabindex="0" role="button" class="viewer-rotate-left" data-viewer-action="rotate-left"></li>
        <li tabindex="0" role="button" class="viewer-rotate-right" data-viewer-action="rotate-right"></li>
        <li tabindex="0" role="button" class="viewer-flip-horizontal" data-viewer-action="flip-horizontal"></li>
        <li tabindex="0" role="button" class="viewer-flip-vertical" data-viewer-action="flip-vertical"></li>
        -->
      </ul>
    </div>

    <!-- file list -->
    <div class="viewer-navbar">
      <ul class="viewer-list viewer-transition" role="navigation" style="width: 279px; transform: translateX(414.5px);">

        <li *ngFor="let arq of lstArquivos, i = index" data-index="i" data-viewer-action="view" role="button" tabindex="i">
          <img [src]="arq.Source" alt="arq.SourceName" data-original-url="arq.Source" data-filled="true" style="width: 50px; height: 50px; transform: translateX(-10px);">
        </li>


        <!--
        <li data-index="0" data-viewer-action="view" role="button" tabindex="0" class=""><img
            src="https://fengyuanchen.github.io/viewerjs/images/thumbnails/tibet-1.jpg" alt="Cuo Na Lake"
            data-original-url="images/tibet-1.jpg" data-filled="true"
            style="width: 50px; height: 50px; transform: translateX(-10px);"></li>
        <li data-index="1" data-viewer-action="view" role="button" tabindex="0" class=""><img
            src="https://fengyuanchen.github.io/viewerjs/images/thumbnails/tibet-2.jpg" alt="Tibetan Plateau"
            data-original-url="images/tibet-2.jpg" data-filled="true"
            style="width: 50px; height: 50px; transform: translateX(-10px);"></li>
        <li data-index="2" data-viewer-action="view" role="button" tabindex="0" class=""><img
            src="https://fengyuanchen.github.io/viewerjs/images/thumbnails/tibet-3.jpg" alt="Jokhang Temple"
            data-original-url="images/tibet-3.jpg" data-filled="true"
            style="width: 50px; height: 50px; transform: translateX(-10px);"></li>
        <li data-index="3" data-viewer-action="view" role="button" tabindex="0" class=""><img
            src="https://fengyuanchen.github.io/viewerjs/images/thumbnails/tibet-4.jpg" alt="Potala Palace 1"
            data-original-url="images/tibet-4.jpg" data-filled="true"
            style="width: 50px; height: 50px; transform: translateX(-10px);"></li>
        <li data-index="4" data-viewer-action="view" role="button" tabindex="0" class=""><img
            src="https://fengyuanchen.github.io/viewerjs/images/thumbnails/tibet-5.jpg" alt="Potala Palace 2"
            data-original-url="images/tibet-5.jpg" data-filled="true"
            style="width: 50px; height: 50px; transform: translateX(-10px);"></li>
        <li data-index="5" data-viewer-action="view" role="button" tabindex="0" class="viewer-active"
          aria-selected="true"><img src="https://fengyuanchen.github.io/viewerjs/images/thumbnails/tibet-6.jpg"
            alt="Potala Palace 3" data-original-url="images/tibet-6.jpg" data-filled="true"
            style="width: 50px; height: 50px; transform: translateX(-10px);"></li>
        <li data-index="6" data-viewer-action="view" role="button" tabindex="0" class=""><img
            src="https://fengyuanchen.github.io/viewerjs/images/thumbnails/tibet-7.jpg" alt="Lhasa River"
            data-original-url="images/tibet-7.jpg" data-filled="true"
            style="width: 50px; height: 50px; transform: translateX(-10px);"></li>
        <li data-index="7" data-viewer-action="view" role="button" tabindex="0" class=""><img
            src="https://fengyuanchen.github.io/viewerjs/images/thumbnails/tibet-8.jpg" alt="Namtso 1"
            data-original-url="images/tibet-8.jpg" data-filled="true"
            style="width: 50px; height: 50px; transform: translateX(-10px);"></li>
        <li data-index="8" data-viewer-action="view" role="button" tabindex="0" class=""><img
            src="https://fengyuanchen.github.io/viewerjs/images/thumbnails/tibet-9.jpg" alt="Namtso 2"
            data-original-url="images/tibet-9.jpg" data-filled="true"
            style="width: 50px; height: 50px; transform: translateX(-10px);"></li>
        -->
      </ul>
    </div>


  </div>
  <div class="viewer-tooltip" role="alert" aria-hidden="true"></div>
  <div class="viewer-button viewer-close" data-viewer-action="mix" role="button" tabindex="0"></div>
  <div class="viewer-player"></div>
</div>